# Auto detect text files and perform LF normalization
* text=auto
*.exe filter=lfs diff=lfs merge=lfs -text
Home[[:space:]]Planner.exe filter=lfs diff=lfs merge=lfs -text
release/win-unpacked/Home[[:space:]]Planner.exe filter=lfs diff=lfs merge=lfs -text
